{% load date_filters %}
<html>
    <head>
        <title>Reservations</title>
    </head>
    <style>
        table {
            border-collapse: collapse;
            width: 60%;
            margin: 100px auto;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }
    </style>
    <body>
        <table>
            <tr>
              <th>Rental_name</th>
              <th>ID</th>
              <th>Checkin</th>
              <th>Checkout</th>
              <th>Previous reservation, ID</th>
            </tr>
            {% for reservation in reservation_list %}
                <tr>
                <td>{{reservation.rental_id.name}}</td>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.checkin|date_iso }}</td>
                <td>{{ reservation.checkout|date_iso }}</td>
                {% if reservation.previous %}
                    <td>{{ reservation.previous }}</td>
                {% else %}
                    <td><td> - </td></td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>




